body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(166, 61, 177);

  background-color: rgb(255, 255, 255);
  background-image: url("assets/ipod_background.png");
  background-size: contain;        
  background-repeat: no-repeat;
  background-position: center 200px; /* pushes image down 200px */
  
  min-height: 2360px;              
  min-width: 1640px;               
  overflow: auto;   

  padding: 0 40px; /*adds 40px padding left + right */

  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}

main {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20%;
    margin-bottom: 20%; 
}

nav a {
  color: rgb(166, 61, 177);
  text-decoration: none;
  margin-right: 15px;
}