body {
    margin: 0;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* left column + middle (for the writing) + right column */
    min-height: 100vh;

    /* background image */
    background-image: url("assets/background_index.jpg"); 
    background-size: cover;      /* fills the screen */
    background-repeat: no-repeat; 
    background-position: center; 
}

main {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20%;
    margin-bottom: 20%; 
}

aside {
  position: relative;   /* images are positioned inside */
  min-height: 100vh;    /* full column height */
}

aside img {
  position: absolute;
  width: 150px;
  height: auto;
}

